{% extends "base.html" %} 
{%block intro%}<h1>Admin: {{admin.email}}</h1>{%endblock%} 
{%block nav%}{%endblock%} 
{% block main %}
<h2>USERS</h2>
<table >
    <thead>
        <tr>
            <th>EMAIL</th>
            <th>PRENOM</th>
            <th>NOM</th>
            <th>PAYS</th>
            <th>ROLE</th>
            <th>STATUS</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for user in users if user.role != 'admin'%}
        <tr>
            <td>{{user.email}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.pays}}</td>
            <td>{{user.role}}</td>
            <td>
                {%if user.status%}
                    <form action="{{ url_for('admin.deactivate_user', user_id=user.id) }}" method="POST">
                        <button type="submit">Deactivate</button>
                    </form>
                {% else %}
                    <form action="{{ url_for('admin.activate_user', user_id=user.id) }}" method="POST">
                        <button type="submit">Activate</button>
                    </form>
                {% endif %}
            </td>
            <td>
                <!--delete button-->
                <form action="{{ url_for('admin.delete_user', user_id=user.id) }}" method="POST">
                    <button type="submit" style="color: red;">Delete</button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<!--logout button-->
<form action="{{ url_for('auth.logout') }}" method="POST">
    <button type="submit">Logout</button>
</form>
{% endblock %}