<!DOCTYPE HTML>
<html lang="fr">
	<head>
		{%block head%}{% endblock %}
	</head>
    <body class="is-preload">
        <!-- Flask flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Main -->
        <div id="main">
            {% block main %}{% endblock %}
        </div>
		
        <!-- Scripts -->
		{% block scripts %}{% endblock %}
    </body>
</html>