{% extends "base.html" %}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login.css') }}">
{%endblock%}

{%block main%}
<!-- Login Container -->
<div class="login-container">
    <div class="login-form-box">
        <div class="login-form-left">
            <h2>Welcome Back !</h2>
            <p class="login-subtitle">Log in to pick up where you left off</p>
            <form method="POST">
                <div style="display: flex; flex-direction: column; justify-content: start;">
                    <label for="login-email">Email</label>
                    <input type="email" name="email" id="login-email" placeholder="login@gmail.com" required>
                </div>
                <div class="login-password-row" style="display: flex; justify-content: space-between; margin-top: 30px;">
                    <label for="login-password">Password</label>
                    <a href="#" class="forgot-link">Forgot Password ?</a>
                </div>
                <input type="password" name="mdp" id="login-password" placeholder="************" required>
                <button type="submit" class="btn" style="width: 120px;">Login <span style="margin-left: 10px;"><img src="{{ url_for('static', filename='images/img_landing/flaiche.png') }}"></span></button>
            </form>
            <div class="login-bottom-text">
              Don't have an account yet? <a href="{{ url_for('auth.sign_up') }}" class="signup-link">Sign up for free</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}