{% extends "base.html" %}

{%block intro%}{%endblock%}

{%block nav%}{%endblock%}

{% block main %}
<h2>Welcome {{user.prenom}}!</h3>
<button type="button" onclick="toggleChat()">Show/Hide Chat</button>
<div id="chatbox">
    <p>Here you can chat with Gemini.</p>
    <form method="POST">
        <input type="text" name="msg" placeholder="Gemini..." required>
        <button type="submit">Send</button>
    </form>

    <div>
        {% for q,a in answers %}
            <p><strong>You:</strong> {{q}}</p>
            <p><strong>Gemini:</strong> {{a}}</p>
        {% endfor %}
    </div>
</div>

<div id="uploadbox">
    <h3>Upload file</h3>
    <form action="{{ url_for('main.upload') }}" method="POST" enctype="multipart/form-data" >
        <input type="file" name="file" accept=".pdf, image/*, .doc, .docx, .txt" required>
        <button type="submit">Upload</button>
    </form>
    <h4>Uploaded files:</h4>
    <ul id="uploaded-files">
        {% for file in files %}
            <li>{{ file.filename }}</li>
        {% endfor %}
</div>

<div id="eventbox">
    <h3>Events</h3>
</div>

<!--logout button-->
<form action="{{ url_for('auth.logout') }}" method="POST">
    <button type="submit">Logout</button>
</form>

<script>
    function toggleChat() {
        const chat = document.getElementById("chatbox");
        const upload = document.getElementById("uploadbox");
        chat.style.display = (chat.style.display === "none") ? "block" : "none";
        upload.style.display = (upload.style.display === "none") ? "block" : "none";
    }
</script>
{% endblock %}